<div class="container mb-5">
    <h1 class="mt-5">Games We Have</h1>  
    <p class="lead">Connecting with new and old friends to play games remotely</p>
    <p>Join our growing community of board game enthusiasts who play online using
        popular tools such as Zoom, Google Hangouts, Facetime and more!
    </p>
</div>
<div class="w-100 d-flex justify-content-center">
    <a type="button" class="btn btn-primary btn-lg mr-3" href="/user-menu" (click)="logIn()">Login</a>
    <button type="button" class="btn btn-secondary btn-lg ml-3">Register</button>
</div>