<div class="container mt-5">
    <h1>Games We Have</h1>  
    <p class="lead">Welcome, Adam Lipinski!</p>
    <div class="w-50 mt-5 ml-auto mr-auto">
        <button type="button" class="btn btn-secondary mt-2 btn-block" [routerLink]="['/user-game-list']">Update the list of games that you have</button>
        <button type="button" class="btn btn-secondary mt-2 btn-block" [routerLink]="['/']">Add pepople to your friends list</button>
        <button type="button" class="btn btn-secondary mt-2 btn-block" [routerLink]="['/game-schedule']">Schedule a game / View You Schedule</button>
        <button type="button" class="btn btn-secondary mt-2 btn-block" [routerLink]="['/user-schedule-preference']">Set you Profile and Method of Play</button>
    </div>
</div>