/* You can add global styles to this file, and also import other style files */

.timepicker{
    .ngb-tp-spacer{
        display: none !important;
    }
    
    .ngb-tp-minute{
        display: none !important;
    }

    button {
        margin-left: 5px;
    }
}